<div class="card h-100 mx-1" (click)="viewItemDetails(productItem().id)" style="cursor: pointer;">
  <div class="product-card position-relative">
    @if (productItem().stock==0) {
      <span class="badge-stock" style="background-color: red;">Out of stock</span>
    }
    @else{
      <span class="badge-stock" style="background-color: green;">In Stock</span>
    }

    <div class="product-image-container">
      <img [src]="productItem().images[0]" alt="{{productItem().title}}">
    </div>
    <div class="product-content p-3">
      <h5 class="mt-3">{{productItem().title}}</h5>
      <p class="product-description">{{productItem().description}}</p>
      <div class="mb-3">
        <app-star-rating
          [rating]="productItem().rating"
          color="green"
          [showRatingValue]="false">
        </app-star-rating>
      </div>
      <p class="mt-2">
        <strong>{{productItem().price | currency:'EGP '}}</strong>
      </p>
      <!-- Stop propagation on Add to Cart to prevent navigation -->
      <button class="btn btn-outline-success btn-cart" (click)="$event.stopPropagation()">Add to Cart</button>
    </div>
  </div>
</div>
